:root {
  --color-bg: #fff;
  --color-fg: #000; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: var(--color-bg);
  color: var(--color-fg);
  min-height: 100%; }

figure {
align-items: center;
box-sizing: border-box;
display: none;
flex-flow: row nowrap;
gap: 1rem;
height: 100vh;
inset: 0;
justify-content: center;
margin: 0;
padding: 1rem;
pointer-events: none;
position: fixed;
width: 100vw; 
}

html{
font-size: clamp(16px, 6vmin, 36px);
height: 100%;
line-height: 1.6; 
}

ul {
  align-items: center;
  display: none;
  flex-flow: column nowrap;
  font-size: 2rem;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: hidden; }
  ul li {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center; }

.eye {
  aspect-ratio: 1;
  background: var(--color-bg);
  border: solid 0.2rem var(--color-fg);
  border-radius: 100%;
  box-sizing: border-box;
  height: auto;
  mix-blend-mode: difference;
  position: relative;
  flex-shrink: 0;
  width: 6rem; }
  .eye__iris {
    aspect-ratio: 1;
    background: var(--color-fg);
    border-radius: 100%;
    height: 40%;
    left: 50%;
    position: absolute;
    top: 5%;
    transform: translateX(-50%);
    width: auto; }

.no-support {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 16rem;
  gap: 1rem;
  min-height: 100%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem; }

p {
  margin: 0; }

@supports (animation-timeline: scroll()) {}
    @keyframes spin {
      from {
        transform: rotate(0deg); }
      to {
        transform: rotate(360deg); } }
    @keyframes bg-color {
      0%, 100% {
        background-color: red; }
      25% {
        background-color: #80ff00; }
      50% {
        background-color: cyan; }
      75% {
        background-color: #7f00ff; } } 
  body {
    animation: bg-color linear both;
    animation-timeline: scroll();
    animation-range: 0% 100%; }
  figure, ul {
    display: flex; }
  .eye {
    animation: spin linear both;
    animation-timeline: scroll();
    animation-range: 0% 100%; }
  .no-support {
    display: none; } 
